<div class="row">
  <div class="small-9 columns small-centered">
    <% if @current_tag %>
        <h1>Links tagged with: "<%= @current_tag %>"</h1>
    <% else %>
        <h1>All links</h1>
    <% end %>
    <% if @links.empty? %>
        <article class="link">
          <p>There are no links in the system</p>
        </article>
    <% else %>
        <% @links.each do |link| %>
            <article class="link">
              <div class="link-desc">
                <h4 class="link-desc-header">
                  <%= link link[:title], link[:url] %>
                </h4>

                <p class="link-desc-detail">
                  <%= link[:description] %>
                </p>

                <% if link.tags.any? %>
                    <p class="link-desc-detail">
                      <small>
                        Tags:
                        <% link.tags.each do |tag| %>
                            <%= link tag[:title], "/tags/#{tag[:title]}" %>
                        <% end %>
                      </small>
                    </p>
                <% end %>
                <p class="link-desc-detail">
                  <small>
                    Created: <%= link[:created_at].strftime('%Y-%m-%d') %> by: <%= link.user[:email] %>
                  </small>
                </p>
              </div>
            </article>
        <% end %>
    <% end %>
    <%= link 'Add link', '/links/new', class: 'button' %>
  </div>
</div>

