<h1>All links</h1>
<% if @links.empty? %>
	<p>There are no links in the system</p>
<% else %>
	<% @links.each do |link| %>
		<a href="<%= link[:url] %>"><%= link[:title] %></a><br />
		<p><%= link[:description] %> </p>
	

		<% if link.tags.any? %>
			<p>
				<small> 
					Tags:
					<% link.tags.each do |tag| %>
					<%= tag[:title]%>
					<% end %>
				</small>
			</p>
		<% end %>

		<p>
			<small> 
				Created: <%= link[:created_at] %> by: <%= link.user[:email] %>
			</small>
		</p>

	<% end %> 
<% end %> 